/* images size */

/* img.large{
    width: 500px;
    height: 500px;
}
img.medium{
    width: 250px;
    height: 250px;
}
img.small{
    width: 100px;
    height: 100px;
} */

/* aligning images*/

/* img{
    width: 300px;
    height: 300px;
    float: right;
} */
/* img{
    width: 300px;
    height: 300px;
    margin-left: 200px;
} */

/* centering images */

/* img{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* backgroung images */

/* body{
    background-image: url('./images/car-7871392_1280.webp');
} */

/* backgroung repeat */

/* body{
    background-image: url('./images/images.jpeg');
    background-repeat: no-repeat;
} */

/* backgroung attachment */

/* body{
    font-size: xx-large;
    background-image: url('./images/car-7871392_1280.webp');
    background-attachment: fixed;
} */

/* backgroud position */

/* body{
    background-image: url('./images/images.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
} */

/* shorthand  */

/* body{
    background: url('./images/images.jpeg')
    no-repeat center top;
} */

/* GRADIENTS */

/* linear gradient */

/* body{
    background-image: linear-gradient(red,yellow);
    height: 100vh;
} */

/* rainbow */

/* body{
    background-image: linear-gradient(to right,red,orange,green,blue,indigo,violet);
    height: 100vh;
} */

/* radial gradient */
/* body{
    background-image: radial-gradient(red,yellow,green);
    height: 100vh;
} */

/* conic gradient */
body{
    background-image: conic-gradient(red,yellow,green);
    height: 100vh;
}